*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: sans-serif;
  font-size: 62.5%;
}
main section{
  
  width: 50rem;
  margin: 0 auto;
  margin-top: 4rem;
}
.container{
  border: black 1px solid;
  height: 100%;
  font-size: 2rem;
  padding: 2rem;
}
.container h1{
  font-size: 3.0rem;
}
.container p{
  color: gray;
  margin: 1rem 0;
}
header{
  width: 100%;
  height: 6rem;
  background-color: brown;
  color:white;
  font-size: 1.4rem;
  border: black 1px solid;
}
.container-header{
  height: 100%;
  width: 100%;
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-header img {
  width: 4.5rem;
  height: 4.5rem;
}
.container-header div{
   display: flex;
   justify-content: center;
   align-items: center;
}
.container-header ul{
  display: flex;
  list-style: none;
}
.container-header li{
  margin: 0 3rem;
}
