*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: sans-serif;
  font-size: 62.5%;
}
section{
  
  width: 50rem;
  margin: 0 auto;
  margin-top: 4rem;
}
.container{
  border: black 1px solid;
  height: 100%;
  font-size: 2rem;
  padding: 2rem;
}
.container h1{
  font-size: 3.0rem;
}
p{
  color: gray;
  margin: 1rem 0;
}